{% extends "base.html" %}
{% block content %}
  <br style="margin-bottom: 10px;">
  <div class="form-container">
    <h1 class="login-heading">Reset password to your account</h1>
    <form action="{{ url_for('api.alter_user_password', user_id=current_user.id) }}" method="post">

      <label class="form-label" for="password">Current Password:</label>
      <div class="password-container">
        <input class="form-control" type="password" name="current_password" id="current_password" />
        <button type="button" class="toggle-password" onclick="togglePassword('current_password')">Show</button>
      </div>

      <label class="form-label" for="new_password">New Password:</label>
      <div class="password-container">
        <input class="form-control" type="password" name="new_password" id="new_password" />
        <button type="button" class="toggle-password" onclick="togglePassword('new_password')">Show</button>
      </div>

      <label class="form-label" for="new_password_2">New Password (Again):</label>
      <div class="password-container">
        <input class="form-control" type="password" name="new_password_2" id="new_password_2" />
        <button type="button" class="toggle-password" onclick="togglePassword('new_password_2')">Show</button>
      </div>

      <div class="cf-turnstile" data-sitekey="{{ site_key }}"></div>
      <div style="text-align: center; display: flex;">
        <button class="btn btn-primary" type="submit">Reset Password</button>
        <a class="btn btn-success btn-sm" href="{{ url_for('main.index') }}">Home</a>
        <button class="btn btn-danger btn-sm" onclick="history.back()">Go Back</button>
      </div>

    </form>
  </div>
{% endblock %}
